nav.col-md-2.d-none.d-md-block.bg-light.sidebar
  .sidebar-sticky
    ul#blogMenu.nav.flex-column
      li.nav-item
        a.nav-link(href='/admin')
          span(data-feather='home')
          |               首页 
      li.nav-item
        a.nav-link(href='/admin/categories')
          span(data-feather='columns')
          |               栏目管理       
      li.nav-item
        a.nav-link(href='/admin/articles')
          span(data-feather='book')
          |               文章管理
      li.nav-item
        a.nav-link(href='/admin/comments')
          span(data-feather='message-circle')
          |               评论管理
      li.nav-item
        a.nav-link(href='/admin/behaviors')
          span(data-feather='anchor')
          |               行为管理
      li.nav-item
        a.nav-link(href='/admin/tags')
          span(data-feather='tag')
          |               标签管理
      li.nav-item
        a.nav-link(href='/admin/words')
          span(data-feather='filter')
          |               敏感词管理        
      li.nav-item
        a.nav-link(href='/admin/users')
          span(data-feather='users')
          |               用户管理         
      li.nav-item
        a.nav-link(href='/admin/profile')
          span(data-feather='settings')
          |               个人设置         

     
