aside(class='col-md-4 blog-sidebar')
  div(class='p-4 mb-3 bg-light rounded') 
    h4(class='font-italic') 关于作者
    p(class='mb-0') 10+年教育互联网IT公司从业经验，热爱程序开发，精通多种开发语言，目前主要从事JAVA WEB开发

  div(class='p-4') 
    h4(class='font-italic') 更多关注
    ol(class='list-unstyled d-flex') 
      li.blog-ol-li-more
        a(href='https://github.com/chengshangqian' target='_blank' title='关注作者Github')
          img.img-fluid(src='/blog/images/github.png' title='关注作者Github' alt='关注作者Github')
      li.blog-ol-li-more
        a(href='#' title='关注微信公众号') 
          img.img-fluid(src='/blog/images/wx.png' title='开发中' alt='开发中')
      li.blog-ol-li-more
        a(href='#' title='关注作者微博') 
          img.img-fluid(src='/blog/images/weibo.png' title='开发中' alt='开发中')

