extends layout.pug
  
block content   
  .col-md-8.blog-main
    h3('pb-4 mb-4 font-italic border-bottom') 最新文章
    hr
    if articles
      each article in articles
        div(class='row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative') 
          div(class='col p-4 d-flex flex-column position-static') 
            strong(class='d-inline-block mb-2 text-success')= article.category.name
            h3(class='mb-0 blog-h3-title')= article.title
            div(class='mb-1 text-muted blog-post-meta')= article.publishTime
            p(class='card-text mb-auto blog-post-summary')= article.summary
            a(href='/article/' + article._id  class='stretched-link text-decoration-none') 打开阅读
          
block scripts
  include scripts.pug
  script(src='/blog/javascripts/common.js')