doctype html
html(lang='zh-CN')
 head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width initial-scale=1 shrink-to-fit=no') 
  meta(name='description' content='成序员博客 JAVA PYTHON JS NODE HTML5 CSS3')
  meta(name='author' content='成尚谦(chengshangqian@foxmail.com)')
  title 成序员博客
  link(rel='stylesheet', href='/components/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='/admin/stylesheets/login.css')
 body
  .container
   block content
    
